# 言語処理100本ノック 2020 第２章

Reference: https://nlp100.github.io/ja/ch02.html

## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ

In [2]:
!wc -l popular-names.txt

2780 popular-names.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [17]:
!expand -t 1 popular-names.txt | head

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [24]:
!cat popular-names.txt | awk '{print($1)}' > col1.txt
!cat popular-names.txt | awk '{print($2)}' > col2.txt

## 13. col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [25]:
!paste col1.txt col2.txt | head

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

## 14. 先頭からN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ

In [29]:
n = 5
with open("popular-names.txt") as fi:
    for i, j in enumerate(fi):
        if i >= n: break
        print(j.strip("\n"))

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

In [28]:
!head -n 5 popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

## 15. 末尾のN行を出力Permalink

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [34]:
n = 5
with open("popular-names.txt") as fi:
    lines = fi.readlines()
    tail = lines[(len(lines)-n):]
    print("".join(tail))

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [31]:
!tail -n 5 popular-names.txt

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

## 16. ファイルをN分割する

自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [ ]:
n = 3
with open("popular-names.txt") as fi:
    lines = fi.readlines()
    n_line = len(lines) // n
    for i in range(n):
        fo = open("split{}.txt".format(i), "w")
        fo.write("".join(lines[(i*n_line):(i+1*n_line)]))
        fo.close()

## 17. １列目の文字列の異なり

1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ

In [38]:
with open("popular-names.txt") as fi:
    results = [l.split("\t")[0] for i, l in enumerate(fi)]
set(results)

{'Abigail',
 'Aiden',
 'Alexander',
 'Alexis',
 'Alice',
 'Amanda',
 'Amelia',
 'Amy',
 'Andrew',
 'Angela',
 'Anna',
 'Annie',
 'Anthony',
 'Ashley',
 'Austin',
 'Ava',
 'Barbara',
 'Benjamin',
 'Bertha',
 'Bessie',
 'Betty',
 'Brandon',
 'Brian',
 'Brittany',
 'Carol',
 'Carolyn',
 'Charles',
 'Charlotte',
 'Chloe',
 'Christopher',
 'Clara',
 'Crystal',
 'Cynthia',
 'Daniel',
 'David',
 'Deborah',
 'Debra',
 'Donald',
 'Donna',
 'Doris',
 'Dorothy',
 'Edward',
 'Elijah',
 'Elizabeth',
 'Emily',
 'Emma',
 'Ethan',
 'Ethel',
 'Evelyn',
 'Florence',
 'Frances',
 'Frank',
 'Gary',
 'George',
 'Hannah',
 'Harper',
 'Harry',
 'Heather',
 'Helen',
 'Henry',
 'Ida',
 'Isabella',
 'Jacob',
 'James',
 'Jason',
 'Jayden',
 'Jeffrey',
 'Jennifer',
 'Jessica',
 'Joan',
 'John',
 'Joseph',
 'Joshua',
 'Judith',
 'Julie',
 'Justin',
 'Karen',
 'Kathleen',
 'Kelly',
 'Kimberly',
 'Larry',
 'Laura',
 'Lauren',
 'Liam',
 'Lillian',
 'Linda',
 'Lisa',
 'Logan',
 'Lori',
 'Lucas',
 'Madison',
 'Margaret',
 'Marie',
 'Mark',
 'Mary',
 'Mason',
 'Matthew',
 'Megan',
 'Melissa',
 'Mia',
 'Michael',
 'Michelle',
 'Mildred',
 'Minnie',
 'Nancy',
 'Nicholas',
 'Nicole',
 'Noah',
 'Oliver',
 'Olivia',
 'Pamela',
 'Patricia',
 'Rachel',
 'Rebecca',
 'Richard',
 'Robert',
 'Ronald',
 'Ruth',
 'Samantha',
 'Sandra',
 'Sarah',
 'Scott',
 'Sharon',
 'Shirley',
 'Sophia',
 'Stephanie',
 'Steven',
 'Susan',
 'Tammy',
 'Taylor',
 'Thomas',
 'Tracy',
 'Tyler',
 'Virginia',
 'Walter',
 'William'}

## 18. 各行を3コラム目の数値の降順にソート

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）

In [49]:
with open("popular-names.txt") as fi:
    lines = fi.readlines()
    n = [float(l.split("\t")[2]) for l in lines]
    results = [lines[i] for i in np.argsort(n)]
print("".join(results[:5]))

Sarah	F	1288	1880
Alice	F	1308	1881
Bertha	F	1320	1880
Bertha	F	1324	1881
Annie	F	1326	1881

In [62]:
!sort -k3 -t$'\t' -n popular-names.txt | head -n 5

Sarah	F	1288	1880
Alice	F	1308	1881
Bertha	F	1320	1880
Bertha	F	1324	1881
Annie	F	1326	1881

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [76]:
import numpy as np
with open("popular-names.txt") as fi:
    names = [l.split("\t")[0] for i,l in enumerate(fi)]
keys, counts = np.unique(names, return_counts=True)
keys[np.argsort(counts)[::-1]][:10]

array(['James', 'William', 'Robert', 'John', 'Mary', 'Charles', 'Michael',
       'Elizabeth', 'Joseph', 'Margaret'], dtype='<U11')

In [75]:
!cut -f 1 popular-names.txt | sort | uniq -c | sort -k2 -t" " -r | head

118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  70 Joseph
  60 Margaret